nav {
  background-color: #f3f3f3;
  font-family: "Outfit", sans-serif;
}

.container {
  font-family: "Outfit", sans-serif;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.parent-image {
  display: flex;
  justify-content: center;
}

.parent-desc {
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.parent-desc h2 h3 {
  font-family: "Outfit", sans-serif;
}

.parent-desc p {
  font-family: "Outfit", sans-serif;
  width: 70%;
}

.profile {
  width: 380px;
  height: 380px;
  object-fit: cover;
  border-radius: 50%;
  justify-content: center;
}

.btn-2 {
  background-color: aqua;
  font-family: "Outfit", sans-serif;
  width: 120px;
  height: 120px;
}

.button a {
  background: #eea302;
  font-family: "Outfit", sans-serif;
  border-radius: 50%;
  font-weight: bold;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: initial;
}

.button-2 a {
  background: #ff3b25;
  margin-left: 10px;
}

.button-3 a {
  background: #80d8da;
  margin-left: 10px;
}

/* Animation Hover */
.button a:hover {
  transition: all 0.4s ease;
  border: 1px solid #000000;
}
/* Footer */
.footer {
  border-top: solid 1px rgba(0, 0, 0, 0.154);
}
.phone {
  text-align: center;
  padding-top: 20px;
}
.phone h4 {
  font-size: 15px;
  font-weight: bold;
}
.phone p {
  font-size: small;
}

.email {
  text-align: center;
  padding-top: 20px;
}
.email h4 {
  font-size: 15px;
  font-weight: bold;
}
.email a {
  font-size: small;
  color: #000000;
  text-decoration: none;
}

.follow {
  padding-top: 20px;
  text-align: center;
}
.follow h4 {
  font-size: 15px;
  font-weight: bold;
}
.follow a {
  font-size: small;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 800px) {
  .parent-desc {
    padding-top: 20px;
  }
  .parent-desc p {
    width: 100%;
  }
  .button a {
    bottom: 0;
    text-align: center;
  }
  .footer {
    display: flex;
    justify-content: center;
  }
  .phone {
    text-align: left;
  }
  .email {
    text-align: left;
  }
  .follow {
    text-align: left;
  }
}
